.headerPhone {
  display: flex;
  justify-content: center;
}

.LogRegButtons {
  display: flex;
  justify-content: center;
}

.buttonsLogReg {
  background-color: #567bff;
  color: #ffffff;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  margin: 0 1rem 0 0;
}

.homemain {
  margin: 2.5rem;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f0f4f8, #e2e8f0);
  padding: 2rem;
}

.homemainLoggedOut {
  min-height: 100vh;
  background-color: #00b7ff;
  background-image: url('./img/pattern-randomized.svg');
  padding: 2rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
