@import 'tailwindcss';


input,
select,
optgroup,
textarea {
  background-color: white;
}

button:hover {
  background-color: #989797;
  cursor: pointer;
}

h1 {
  color: green;
  font-style: italic;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.note {
  color: green;
  padding-top: 5px;
  font-size: 15px;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.note.error {
  color: red;
}